In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('1M_unique_processed_data.csv')

In [3]:
df.head()

,name,num_holdouts,pid,num_tracks,num_samples,pos,artist_name,track_uri,artist_uri,track_name,...,liveness,valence,tempo,type,audio_duration_ms,time_signature,release_date,popularity,artist_pop,genres
0,Party,70,1000000,75,5,0.0,AronChupa,66U0ASk1VHZsqIkpMjKX3B,5vCOdeiQt9LyzdI87kt5Sh,Little Swing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Party 1,54,1039848,154,100,130.0,AronChupa,66U0ASk1VHZsqIkpMjKX3B,5vCOdeiQt9LyzdI87kt5Sh,Little Swing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Party,70,1000000,75,5,1.0,AronChupa,5MhsZlmKJG6X5kTHkdwC4B,5vCOdeiQt9LyzdI87kt5Sh,I'm an Albatraoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AC,39,1009575,49,10,2.0,AronChupa,5MhsZlmKJG6X5kTHkdwC4B,5vCOdeiQt9LyzdI87kt5Sh,I'm an Albatraoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Party,76,1007292,101,25,32.0,AronChupa,5MhsZlmKJG6X5kTHkdwC4B,5vCOdeiQt9LyzdI87kt5Sh,I'm an Albatraoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(286205, 31)

In [5]:
df.drop_duplicates(subset='track_uri', keep='first', inplace=True)

In [6]:
df.shape

(66243, 31)

In [7]:
df.head()

,name,num_holdouts,pid,num_tracks,num_samples,pos,artist_name,track_uri,artist_uri,track_name,...,liveness,valence,tempo,type,audio_duration_ms,time_signature,release_date,popularity,artist_pop,genres
0,Party,70,1000000,75,5,0.0,AronChupa,66U0ASk1VHZsqIkpMjKX3B,5vCOdeiQt9LyzdI87kt5Sh,Little Swing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Party,70,1000000,75,5,1.0,AronChupa,5MhsZlmKJG6X5kTHkdwC4B,5vCOdeiQt9LyzdI87kt5Sh,I'm an Albatraoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Happy Beats,56,1027019,156,100,80.0,AronChupa,3MBwTrIg7HrNXSFVQ5rj41,5vCOdeiQt9LyzdI87kt5Sh,Bad Water,...,0.459,0.67,123.016,audio_features,210000.0,4.0,2017-06-09,0.0,NaN,NaN
16,Party,70,1000000,75,5,2.0,Lorde,0GZoB8h0kqXn7XFm4Sj06k,163tK9Wjr9P9DmM0AVK7lm,Yellow Flicker Beat - From The Hunger Games: M...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Party,70,1000000,75,5,3.0,Lorde,35kahykNu00FPysz3C2euR,163tK9Wjr9P9DmM0AVK7lm,White Teeth Teens,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dropna(subset=['release_date'], inplace=True)

In [9]:
columns_to_keep = ['track_uri', 'artist_name','track_name','release_date']
df = df[columns_to_keep]

In [10]:
df.head()

                  track_uri artist_name            track_name release_date
15   3MBwTrIg7HrNXSFVQ5rj41   AronChupa             Bad Water   2017-06-09
76   0gbBzIqrECJOEPvQJIBFs5       Lorde           Green Light   2017-06-16
115  3Lw7lWTJlcqlx8E9HFmByr       Lorde  Million Dollar Bills   2013-01-01
123  2yrJ1jWo3HLksJFUqUsZE4       Lorde         The Love Club   2013-01-01
136  60jI0JgMLLj1VggHJVhtRs       Lorde        Glory And Gore   2013-09-27

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head()

                track_uri artist_name            track_name release_date
0  3MBwTrIg7HrNXSFVQ5rj41   AronChupa             Bad Water   2017-06-09
1  0gbBzIqrECJOEPvQJIBFs5       Lorde           Green Light   2017-06-16
2  3Lw7lWTJlcqlx8E9HFmByr       Lorde  Million Dollar Bills   2013-01-01
3  2yrJ1jWo3HLksJFUqUsZE4       Lorde         The Love Club   2013-01-01
4  60jI0JgMLLj1VggHJVhtRs       Lorde        Glory And Gore   2013-09-27

In [13]:
def convert_uri_to_url(track_uri):
    return f'https://open.spotify.com/track/{track_uri}'

In [14]:
convert_uri_to_url(df['track_uri'][0])

'https://open.spotify.com/track/3MBwTrIg7HrNXSFVQ5rj41'

In [15]:
from tqdm import tqdm

In [16]:
df['track_url'] = None
for index, row in tqdm(df.iterrows(), total=len(df), desc="Fetching track URLs"):
    track_id = row['track_uri']
    df.at[index, 'track_url'] = convert_uri_to_url(track_id)

Fetching track URLs:  11%|█         | 7267/65937 [00:00<00:03, 17987.74it/s]

Fetching track URLs: 100%|██████████| 65937/65937 [00:03<00:00, 19722.17it/s]

In [17]:
df.head()

,track_uri,artist_name,track_name,release_date,track_url
0,3MBwTrIg7HrNXSFVQ5rj41,AronChupa,Bad Water,2017-06-09,https://open.spotify.com/track/3MBwTrIg7HrNXSF...
1,0gbBzIqrECJOEPvQJIBFs5,Lorde,Green Light,2017-06-16,https://open.spotify.com/track/0gbBzIqrECJOEPv...
2,3Lw7lWTJlcqlx8E9HFmByr,Lorde,Million Dollar Bills,2013-01-01,https://open.spotify.com/track/3Lw7lWTJlcqlx8E...
3,2yrJ1jWo3HLksJFUqUsZE4,Lorde,The Love Club,2013-01-01,https://open.spotify.com/track/2yrJ1jWo3HLksJF...
4,60jI0JgMLLj1VggHJVhtRs,Lorde,Glory And Gore,2013-09-27,https://open.spotify.com/track/60jI0JgMLLj1Vgg...

In [18]:
df['release_date']=pd.to_datetime(df['release_date'], errors='coerce')

In [19]:
df.dropna(subset=['release_date'], inplace=True)

In [20]:
df['year'] = df['release_date'].dt.year

In [21]:
df.drop(columns=['release_date'], inplace=True)

In [22]:
df.head()

,track_uri,artist_name,track_name,track_url,year
0,3MBwTrIg7HrNXSFVQ5rj41,AronChupa,Bad Water,https://open.spotify.com/track/3MBwTrIg7HrNXSF...,2017
1,0gbBzIqrECJOEPvQJIBFs5,Lorde,Green Light,https://open.spotify.com/track/0gbBzIqrECJOEPv...,2017
2,3Lw7lWTJlcqlx8E9HFmByr,Lorde,Million Dollar Bills,https://open.spotify.com/track/3Lw7lWTJlcqlx8E...,2013
3,2yrJ1jWo3HLksJFUqUsZE4,Lorde,The Love Club,https://open.spotify.com/track/2yrJ1jWo3HLksJF...,2013
4,60jI0JgMLLj1VggHJVhtRs,Lorde,Glory And Gore,https://open.spotify.com/track/60jI0JgMLLj1Vgg...,2013

In [23]:
df.to_csv('D:/Recommendation system/year.csv', index=False)

In [24]:
df.shape

(65922, 5)

In [25]:
df = df.sample(frac=0.1, random_state=42)  # Adjust fraction size as needed

# Display the shape of the sampled dataset
print(df.shape)

(6592, 5)

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import GridSearchCV

In [27]:
# One-hot encode the 'artist_name' column
encoder = OneHotEncoder(sparse=False)
artist_encoded = encoder.fit_transform(df[['artist_name']])

# Concatenate the one-hot encoded array with the 'popularity' column
year_column = df[['year']].values
X = np.concatenate([artist_encoded, year_column], axis=1)

In [28]:
kmeans = KMeans(random_state=42)

In [29]:
# Initialize KMeans with the best parameters
best_kmeans = KMeans(n_clusters=5, 
                     init='k-means++', 
                     max_iter=300, 
                     random_state=42)

# Fit the best KMeans model to the data
best_kmeans.fit(X)

# Assign clusters to the data using the best model
df['cluster'] = best_kmeans.labels_

In [30]:
import spotipy
import spotipy.oauth2 as oauth2
from spotipy.oauth2 import SpotifyOAuth,SpotifyClientCredentials

In [31]:
# Spotify API credentials
client_id = 'daad7d25071943918fca8024759891b1'
client_secret = 'af6037af702f4dfbba567e6174ec3dfd'

auth_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.client.Spotify(auth_manager=auth_manager)

In [32]:
df.head()

,track_uri,artist_name,track_name,track_url,year,cluster
42794,3LFhPZqd9GC9sV8ZTnu99P,Luke Christopher,Bedroom Trip,https://open.spotify.com/track/3LFhPZqd9GC9sV8...,2015,0
1295,2uQNcZYa0SEbfW4cj0d9OS,Lauv,I Like Me Better - Recorded at Spotify Studios...,https://open.spotify.com/track/2uQNcZYa0SEbfW4...,2017,0
13039,0PJIbOdMs3bd5AT8liULMQ,Jeremih,oui,https://open.spotify.com/track/0PJIbOdMs3bd5AT...,2015,0
45492,5sp0v1NDTtfzcPMtFotz80,Clay Walker,This Woman And This Man,https://open.spotify.com/track/5sp0v1NDTtfzcPM...,1994,2
9194,3V0ak0F8fLXmp3hYAEQKZH,Passion Pit,Love Is Greed,https://open.spotify.com/track/3V0ak0F8fLXmp3h...,2012,0

In [33]:
df.reset_index(drop=True, inplace=True)

In [34]:
def get_track_info(track_uri):
    try:
        # Use the Spotify API to get the track information
        track_info = sp.track(track_uri)
        
        # Get the artist information
        artist_id = track_info['artists'][0]['id']
        artist_info = sp.artist(artist_id)
        
        # Extract release date from the album's release_date
        release_date = track_info['album']['release_date']
        release_year = int(release_date.split('-')[0])

        return artist_info, release_year
    except Exception as e:
        print(f"Error: {e}")
        return None, None

In [44]:
example_track_uri = 'spotify:track:60a0Rd6pjrkxjPbaKzXjfq'

In [45]:
artist_info, release_year = get_track_info(example_track_uri)

In [46]:
artist_name=artist_info['name']

In [47]:
if artist_name is not None and release_year is not None:
    print(f"Artist(s): {artist_name}")
    print(f"Release year: {release_year}")
else:
    print("Failed to retrieve track information.")

Artist(s): Linkin Park
Release year: 2000

In [53]:
# Concatenate the selected features of the given track
track_features = np.concatenate([encoder.transform([[artist_info['name']]]), [[release_year]]], axis=1)

# Find the cluster of the given track based on selected features
track_cluster = best_kmeans.predict(track_features)[0]

# Select similar tracks from the same cluster
num_recommendations = 5  # Adjust the number of recommendations
similar_tracks = df[df['cluster'] == track_cluster].sample(num_recommendations)

# Show the recommended tracks
recommended_tracks = similar_tracks[['artist_name', 'track_name','year','track_url']]
output_str = recommended_tracks.to_string(index=False)
print(output_str)

         artist_name        track_name  year                                             track_url
           Sugar Ray           Someday  1998 https://open.spotify.com/track/6zeDYmP3ARpURvpK29Q09P
          Tim McGraw  The Cowboy In Me  2001 https://open.spotify.com/track/7iGdNkROFlxqUJkHNlkoQV
Los Tigres Del Norte La Camioneta Gris  2001 https://open.spotify.com/track/66p7jmGKdqNsvp0hPRXHNm
            R. Kelly   Step In My Room  1995 https://open.spotify.com/track/4hiCJivJVBw5SIzLD9t8Rx
   Ol' Dirty Bastard     Cuttin' Headz  1995 https://open.spotify.com/track/3RzkPirkWficp2bWVUNrXn

c:\Users\Vitrag Khatadia\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [50]:
df['track_url'][475]

'https://open.spotify.com/track/02ePjHjIiszSYqeLykvpTN'